html{
    font-family: "Arial", sans-serif;
}

/* General */
body {
    background-color: #584d4d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;

}

/* Titels */
.titel {
    margin-top: 80px;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333333cd; 
    padding: 15px; 
    text-align: center; 
}
.navbar a {
    color: white; 
    text-decoration: none; 
    margin: 0 15px; 
}
.navbar a:hover {
    color: #ffcc00;
}