/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
/* Table cells */ 
th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}
.profit_loss, .total_at_time {
    width: 100%;
    padding: 8px;
    border: none;
    font-size: 14px;
    box-sizing: border-box;
}
/* Colomb headers */
th {
    background-color: #E0E0E0;
    font-weight: bold;
    font-size: 18px;
}

/* Input field */ /*? Editable fields */
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: none;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF; 
}
input:focus {
    border-color: #ff453a; 
    outline: none;
}

/* Buttons */ /*? Editable button */
.addRowBtn, .plotBtn {
    background-color: #333;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s;
}
.addRowBtn:hover {
    background: #ff453a;
    color: #FFF;
}
.plotBtn:hover {
    background: #4bc0c0; 
    color: #FFF;
}

/* Charts */
#myChart {
    margin-top: 80px;
    justify-content: center;
}
canvas {
    display: block;
    margin: 40px auto;
    max-width: 100%;
}