html{
    font-family: "Arial", sans-serif;
    color: #ffffff;
}
body {
    background-color: #584d4d;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 300vh;
    background-attachment: scroll;
}
.titel {
    margin-top: 80px;
    margin-left: 25px;
}

/*Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333333cd; 
    padding: 15px; 
    text-align: center; 
}
.navbar a {
    color: white; 
    text-decoration: none; 
    margin: 0 15px; 
}
.navbar a:hover {
    color: #ffcc00;
}

#sb {
    position: absolute;
    margin-top: 5.4%; /* Vertical position */
    margin-left: 52%; /* Horizontal position */
    transform: translate(-50%, -50%); /* Center the #sb element */
    width: 100px; /* Set a width for demo purposes */
    height: 100px; /* Set a height for demo purposes */
    background-color: lightblue; /* Optional: For visibility */
}

#smallBlindValue {
    color: #ffffff; /* Color for the value */
    position: absolute;
    font-size: 50px;
    top: calc(5.4% + 50px); /* Adjust vertically to center around #sb */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the text around the specified position */
}
