/* Timer Section */
.timer {
    font-size: 80px;
    color: #333;
    text-align: center;
    margin: 30px 0 20px; 
    width: 100%;
}

/* Blinds Section */ /*? Blind Value and Blind Text are in an Invisable Table */
.blindText {
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}
.blindValue {
    font-size: 36px;
    color: #333;
}
/* Invisible Table Styling */
.invisibleTable {
    border-collapse: separate; /* Border-spacing is applied */
    border-spacing: 0px; /* Spacing */
    width: 100%;
}
.invisibleTable td {
    border: none;
    width: 150px; 
    height: 50px;
    text-align: center; 
}

/* Buttons Section */ /*? Editable button */
.actionButton {
    width: 120px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 0; /* Sharp corners */
    transition: background-color 0.3s;
    border: 1px solid #000000;
}
.pausePlay, .startReset {
    display: flex;
    justify-content: center;
    gap: 20px; /* Consistent spacing between buttons */
    margin: 20px 0;
}
/* Start & Reset */
.startBtn:hover, .resetBtn:hover {
    background-color: #FFFFFF;
    color: #000000;
}
/* Pause & Play */
.playBtn{
    color: #17b978;
}
.playBtn:hover{
    background-color: #17b978;
    color: #FFFFFF;
}
.pauseBtn {
    color: #ff304f;
}
.pauseBtn:hover{
    background-color: #ff304f;
    color: #FFFFFF;
}

/* Time Up Message */
#timeup_message {
    font-size: 24px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}