.content {
    width: fit-content;
}

label {
    font-size: 20px;
}

input {
    margin: 5px auto 10px 5px;      /* margin: top right bottom left*/
    border: 2px solid #665F54; 
    background-color: #E1D3BD; 
    transition: border-color 0.3s; 
    padding: 5px; 
    border-radius: 4px;
}