/* Label for input field */
label {
    font-size: 18px;
    font-weight: bold;
    color: #333; 
    display: block;
    margin-bottom: 5px;
}

/* Input field */ /*? Editable fields */
input {
    width: calc(100% - 10px);
    padding: 8px;
    margin: 0 auto 15px auto; /* Margin for spacing */
    border: 1px solid #333; 
    background-color: #f7f7f7; 
    color: #333;
    font-size: 14px;
    transition: border-color 0.3s;
    border-radius: 0; /* Sharp corners */
}
input:focus {
    border-color: #ff453a; 
    outline: none;
}

/* Submit button */ /*? Editable button */
#submitBtn {
    background: #333;
    color: #FFF;
    border: 1px solid #333;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 0; /* Sharp corners */
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}
#submitBtn:hover {
    background: #ff453a;
    color: #FFF;
}

/* Content */ /*? More iterations of the content */
.content {
    max-width: 400px; 
    margin: 0 auto;
}

/* Form container */ /*? Every thing but the Title */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}