/* Text */ 
h2 {
    font-size: 30px;
    margin-top: 40px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

/* Chapter headings */
h3 {
    font-size: 23px;
    margin-top: 30px;
    border-bottom: 1px solid #333;
}

/* Label for input field */
label {
    font-size: 18px;
    font-weight: bold;
    color: #333; 
    display: block;
    margin-bottom: 5px;
}

/* Input field */ /*? Editable fields */
input {
    width: calc(100% - 10px);
    padding: 8px;
    margin: 0 auto 15px auto; /* Margin for spacing */
    border: 1px solid #333; 
    background-color: #f7f7f7; 
    color: #333;
    font-size: 14px;
    transition: border-color 0.3s;
    border-radius: 0; /* Sharp corners */
}
input:focus {
    border-color: #ff453a; 
    outline: none;
}

/* Submit button */ /*? Editable button */
#submitBtn {
    background: #333;
    color: #FFF;
    border: 1px solid #333;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 0; /* Sharp corners */
    margin-top: 20px;
    margin-bottom: 40px;
    transition: background-color 0.3s, color 0.3s;
}
#submitBtn:hover {
    background: #ff453a;
    color: #FFF;
}

/* Form container */ /*? Every thing but the Title */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

/* Table design */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid #dee2e6;
}
th, td {
    padding: 16px;
    text-align: center;
    border: 1px solid #dee2e6;
}
th {
    background-color: #e9ecef;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
tr:nth-child(even) {
    background-color: #f8f9fa;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}
tr:hover {
    background-color: #f1f3f5;
}
td {
    color: #333;
}
.break-row {
    background-color: #ffe8a1;
    font-weight: bold;
    text-transform: uppercase;
}