/* Label for input field */
label {
    font-size: 18px;
    font-weight: bold;
    color: #333; 
    display: block;
    margin-bottom: 5px;
}

/* Input field */ /*? Editable fields */
input {
    width: calc(100% - 10px);
    margin: 0 auto 15px auto; /* Margin for spacing */
    border: 1px solid #333; 
    background-color: #f7f7f7; 
}

/* Submit button */ /*? Editable button */
#submitBtn {
    font-size: 18px;
    padding: 12px 24px;
    margin: 20px auto;
}
#submitBtn:hover {
    background: #ff453a;
    color: #FFF;
}

/* Form container */ /*? Every thing but the Title */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

/* Table design */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid #dee2e6;
}
th, td {
    padding: 16px;
    text-align: center;
    border: 1px solid #dee2e6;
}
th {
    background-color: #e9ecef;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
tr:nth-child(even) {
    background-color: #f8f9fa;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}
tr:hover {
    background-color: #f1f3f5;
}
td {
    color: #333;
}
.break-row {
    background-color: #ffe8a1;
    font-weight: bold;
    text-transform: uppercase;
}
/* Ensure tables fit on small screens */
@media screen and (max-width: 768px) {
    table {
        display: block;
        width: 100%;
        overflow-x: auto; /* Allow horizontal scrolling */
        white-space: nowrap;
    }

    th, td {
        padding: 6px; /* Further reduce padding */
        font-size: 12px; /* Reduce text size */
    }

    th {
        font-size: 13.5px;
    }
}