/* Timer Section */
.timer {
    font-size: 80px;
    color: #333;
    text-align: center;
    margin: 30px 0 20px; 
    width: 100%;
}

/* Blinds Section */ /*? Blind Value and Blind Text are in an Invisable Table */
.blindText {
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}
.blindValue {
    font-size: 36px;
    color: #333;
}
/* Invisible Table Styling */
table {
    border-collapse: separate; /* Border-spacing is applied */
    border-spacing: 0px; /* Spacing */
    width: 100%;
}
table td {
    border: none;
    width: 150px; 
    height: 25px;
    text-align: center; 
}

/* Buttons Section */ /*? Editable button */
.actionButton {
    font-size: 15px;
    padding: 10px;
    width: 120px;
    margin: 20px auto;
}
.pausePlay, .startReset {
    display: flex;
    justify-content: center;
}
/* Start & Reset */
.startBtn:hover, .resetBtn:hover {
    background-color: #FFFFFF;
    color: #000000;
}
/* Pause & Play */
.playBtn{
    color: #00B050;
}
.playBtn:hover{
    background-color: #00B050;
    color: #FFFFFF;
}
.pauseBtn {
    color: #ff304f;
}
.pauseBtn:hover{
    background-color: #ff304f;
    color: #FFFFFF;
}

/* Time Up Message */
#timeup_message {
    font-size: 24px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}