/* Timer Section */
.timer {
    font-size: 80px;
    color: #333;
    text-align: center;
    margin: 30px 0 20px; 
    width: 100%;
}

/* Blinds Section */ /*? Blind Value and Blind Text are in an Invisable Table */
.blindText {
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}
.blindValue {
    font-size: 36px;
    color: #333;
}
/* Invisible Table Styling */
table {
    border-collapse: separate; /* Border-spacing is applied */
    border-spacing: 0px; /* Spacing */
    width: 100%;
}
table td {
    border: none;
    width: 150px; 
    height: 25px;
    text-align: center; 
}
#backBtn {
    display: block;
    width: 150px; /* Or any desired width */
    margin: 0 auto;
}

/* Buttons Section */ /*? Editable button */
button {
    font-size: 15px;
    padding: 10px;
    width: 120px;
    margin: 20px auto;
}
.buttons {
    display: flex;
    justify-content: center;
}
/* Start & Reset */
#resetBtn, #backBtn {
    background-color: #FFFFFF;
    color: #333;
}
#resetBtn:hover, #backBtn:hover {
    background-color: #333;
    color: #FFFFFF;
}
/* Pause & Play */
#startBtn{
    color: #00B050;
}
#startBtn:hover{
    background-color: #00B050;
    color: #FFFFFF;
}
#pauseBtn {
    color: #ff304f;
}
#pauseBtn:hover{
    background-color: #ff304f;
    color: #FFFFFF;
}

/* progress bar */
.progress-bar {
    width: 70%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 0px;
    margin: 2rem auto; /* Changed to center horizontally */
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #4CAF50;
    width: 0%;
    transition: width 1s linear;
}

#timeup_message {
    /* Position fixed in the middle of the screen */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Size and appearance */
    padding: 20px 40px;
    border-radius: 1px;
    
    /* Z-index ensures it's above all other elements */
    z-index: 9999;
    
    /* Semi-transparent background */
    background-color: rgba(0, 0, 0, 0.7);
    
    /* Text styling */
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    
    /* Initially hidden */
    display: none;
    
    /* Animation for appearing and disappearing */
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  /* Fade in animation */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  /* Fade out animation */
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }